@import "breakpoints";

:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  //overflow-y: scroll;
  overflow-x: hidden;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

.main-wrapper {
  //position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  @include xs {
  }
  @include lg {
  }
}

.navi {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 11%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
  z-index: 20;
}

.nav-tray {
  height: 100%;
  //border: thin solid white;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include xs {
    width: 70%;
    //margin-top: -10%;
  }
  @include lg {
    width: 25%;
  }
}

.nav-item {
  color: white;
  font-weight: 600;
  text-decoration: none;
  @include xs {
    //margin-top: 10%;
    font-size: 1.25rem;
  }
  @include lg {
    margin-top: 2.5%;
    font-size: 2rem;
  }
}

.main-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  //margin-top: -10vh;
  //background-color: orange;
  @include xs {
    overflow-x: hidden;
  }
  @include lg {
    overflow: hidden;
  }
}

.section-double {
  @include xs {
    height: 200%;
    width: 100%;
  }
  @include lg {
    height: 100%;
    width: 200%;
    margin-bottom: 0%;
    display: flex;
  }
}

.inner-section {
  @include xs {
    width: 100%;
    height: 50%;
  }
  @include lg {
    width: 100%;
    height: 100%;
  }
}

.section {
  height: 90vh;
}

.events-section {
  @include xs {
    height: 87.4vh;
  }
  @include lg {
    height: 90vh;
  }
}

.hero-wrapper {
  background-color: #191919;
  display: flex;

  width: 100%;
  @include xs {
    flex-direction: column;
    height: 102%;
  }
  @include lg {
    flex-direction: row;
    height: 100%;
  }
}

.hero-content {
  //border: thin solid green;
  @include xs {
    width: 100%;
    height: 60.5%;
  }
  @include lg {
    width: 60%;
    height: 100%;
  }
}

.hero-scrollers {
  //border: thick solid pink;
  @include xs {
    width: 100%;
    height: 30%;
  }
  @include lg {
    display: flex;
    width: 40%;
    height: 100%;
    background-color: #000;
  }
}

.hero-content {
  color: white;
  @include xs {
    padding: 5%;
  }
  @include lg {
    padding: 0%;
  }
}

.hero-inner-content {
  display: flex;
  flex-direction: column;

  @include xs {
    width: 100%;
    height: 100%;
    margin-top: 30%;
    justify-content: center;
    align-items: start;
  }
  @include lg {
    width: 100%;
    height: 100%;
    align-items: start;
    //padding-top: 5%;
    justify-content: space-around;
    padding-left: 10%;
  }
}

.hero-hello {
  color: orange;
  @include xs {
  }
  @include lg {
    font-size: 1.25em;
    margin-left: -60%;
  }
}

.hero-name {
  @include xs {
    line-height: 1.125em;
    font-size: 3em;
    font-weight: 600;
    text-align: left;
    margin-top: -15%;
  }
  @include lg {
    font-size: 6em;
    font-weight: 600;
    text-align: start;
    margin-top: -55%;
  }
}

.hero-name-img {
  @include xs {
    margin-top: -25%;
    margin-left: -3.5%;
  }
  @include lg {
    margin-top: -60%;
    margin-left: -3.5%;
  }
}

.hero-writeup {
  @include xs {
    font-size: 0.85em;
    text-align: start;
    margin-top: -5%;
  }
  @include lg {
    margin-top: -100%;
    font-size: 1.25em;
    text-align: start;
  }
}

.scroller-container {
  @include xs {
    width: 1200%;
    height: 100%;
  }
  @include lg {
    margin-left: 1%;
    width: 49%;
    height: 600%;
  }
}

.cta {
  background-color: darkorange;
  color: white;
  @include xs {
    width: 25vw;
    height: 7.5vh;
  }
  @include lg {
    font-size: 1.25rem;
    width: 10vw;
    height: 7.5vh;
    margin-top: -95%;
  }
}

.hidden-xs {
  @include xs {
    display: none;
  }
  @include lg {
    display: flex;
    width: 20vw;
    height: 100%;
  }
}

.hidden-xs > .scroller-container {
  width: 90%;
  height: 600%;
}

.scroller-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  @include xs {
    flex-direction: row;
  }
  @include lg {
    flex-direction: column;
  }
  //outline: thick solid blue;
}

.scroller-reel {
  //outline: medium dotted red;
  display: flex;
  background-color: #000;
  @include xs {
    flex-direction: row;
    width: 33%;
    height: 100%;
  }
  @include lg {
    flex-direction: column;
    width: 100%;
    height: 42%;
  }
}

.reel0 {
  @include xs {
    transform: translateX(-300%);
  }
  @include lg {
    transform: translateY(-300%);
  }
}

.reel-node {
  //border: thin solid yellow;
  @include xs {
    width: 20%;
    height: 100%;
  }
  @include lg {
    width: 100%;
    height: 100%;
  }
}

.node-image-container {
  width: 95%;
  height: 95%;
  //margin: 2.5%;
  border-radius: 5px;
  //background-color: rgb(198, 102, 0);
  @include xs {
    margin: 2.5%;
  }
  @include lg {
    margin: 2.5%;
  }
}

.node-image-container > img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section {
  @include xs {
    width: 100%;
    height: 100%;
  }
  @include lg {
    margin-top: 0%;
    width: 100%;
    height: 100%;
  }
}

.about-attributes {
  @include xs {
    display: none;
  }
  @include lg {
    display: block;
  }
}

.about-image {
  @include xs {
    display: none;
  }
  @include lg {
    object-fit: cover;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 25%;
  }
}
.about-wrapper {
  background-color: #232321;
  @include xs {
    width: 100%;
    height: 100%;
  }
  @include lg {
    width: 100%;
    height: 100%;
    margin-left: -1.5%;
  }
}

.about-content {
  width: 100;
  display: flex;
  flex-direction: column;
  background: #181818;
  @include xs {
    height: 60%;
    justify-content: space-between;
  }
  @include lg {
    height: 100%;
    justify-content: flex-end;
  }
}

.about-inner-container {
  width: 100%;
  //border: thin solid white;
  display: flex;
  @include xs {
    height: 100%;
    flex-direction: column;
  }
  @include lg {
    height: 90%;
    width: 100%;
    flex-direction: row;
  }
}

.about-write-up {
  color: white;
  padding: 1em;
  @include xs {
    width: 100%;
    height: 50%;
    background-color: #181818;
  }
  @include lg {
    width: 32.5%;
    height: 100%;
    background-color: #181818;
  }
}

.about-title {
  color: darkorange;
  @include xs {
    font-size: 3rem;
  }
  @include lg {
    font-size: 4rem;
  }
}

.about-text {
  @include xs {
    font-size: 1.1125rem;
  }
  @include lg {
    font-size: 1.125rem;
  }
}

.partner-text {
  font-size: 1.75rem;
  //text-decoration: underline;
  text-decoration-thickness: 1px;
  margin-top: 5.5%;
  opacity: 0.75;
}

.sponsors {
  display: flex;
  justify-content: space-evenly;
  @include xs {
    width: 90%;
    margin-left: 5%;
    position: relative;
    z-index: 0;
    flex-direction: row;
  }
  @include lg {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 20%;
    flex-direction: row;
  }
}

.sponsor-img {
  align-self: center;
  filter: grayscale(85%) brightness(105%) contrast(60%);
  width: 25%;
  height: 25%;
}
.sponsor-img2 {
  align-self: center;
  filter: grayscale(100%) brightness(1500%);
  width: 60%;
  height: 25%;
}

.sponsor-img3 {
  align-self: center;
  filter: grayscale(100%) brightness(1750%);
  width: 25%;
  height: 25%;
}

.test {
  border: thin solid rgba(255, 255, 255, 0.108);
  color: white;
  font-size: 1.25rem;
  //border-radius: 5px;
  background-color: #2a2a2a;
  box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.1);
  @include xs {
    width: 100vw;
    height: 50vh;
    font-size: 1.125rem;
    padding: 1em;
    text-align: center;
  }
  @include lg {
    // margin-top: 10%;
    // margin-bottom: 20%;
    padding: 4%;
    font-size: 1.25rem;
    width: 48vw;
    height: 100vw;
    text-align: left;
  }
}

.test3 {
  @include xs {
    height: 100%;
  }
  @include lg {
  }
}

.card3-text {
  display: flex;
  width: 100%;
}

.amenity-writeup {
  width: 50%;
  font-size: 1.25rem;
}

.amenity-text {
  font-size: 1.5rem;
  color: darkorange;
}

.amenity-list > li {
  font-size: 1.5rem;
  margin-left: 10%;
}

// .emp{
//   width: 100;
//   height: 1;
// }

.spaces-wrapper {
  width: 200%;
  height: 100%;
  //background-color: blue;
  border-top: thin solid rgba(135, 135, 135, 1);
  box-sizing: content-box;
  display: flex;
  position: relative;
  z-index: 5;
}

.spaces-container {
  width: 100%;
  height: 100%;
  //border: thin solid red;
  display: flex;
  align-items: center;
  overflow: hidden;

  @include xs {
    flex-direction: column;
  }
  @include lg {
    margin-top: 0%;
    flex-direction: row;
  }
}

.spaces-main-text {
  color: #fffbf3;

  z-index: 2;

  @include xs {
    padding-left: 1.75em;
    padding-right: 1.125em;
    width: 100%;
    height: 33%;
    background: #2d2d2d;
    font-size: 1.175rem;
  }
  @include lg {
    padding: 1em;
    width: 40%;
    height: 100%;
    background-color: #1c1c1c;
    font-size: 1.25rem;
    box-shadow: 10px 0 70px rgba(0, 0, 0, 0.23);
  }
}

.list-top {
  border-top: thin solid #fffbf32e;
  padding-top: 0.75rem;
  margin-top: 1rem;
}

.spaces-list {
  width: 100%;
  color: #c7c5c5;
  border-bottom: thin solid #fff4db2e;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;

  @include xs {
    display: none;
  }
  @include lg {
    display: block;
  }
}

.spaces-list:hover {
  color: white;
  filter: brightness(200);
  // font-size: 1.6rem;
  // margin-bottom: 0.45;
  // margin-top: 0.45;
}

.space-space {
  min-width: 7%;
}

.inter-page-space {
  width: 100%;
  height: 50%;
}

.space-card {
  border: thin solid #8a6534;
  margin-right: 5%;
  cursor: pointer;

  @include xs {
    margin-top: -30%;
    min-width: 65%;
    height: 70%;
  }
  @include lg {
    margin-top: 0%;
    min-width: 37.5%;
    height: 80%;
  }
}

.space-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 50%;
}

.space-card-name {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: -3vh;
}

.spaces-scroller {
  user-select: none;
  height: 100%;
  width: 100%;
  background-color: #2d2d2d;
}

.spaces-scroller-inner {
  user-select: none;
  height: 100%;
  width: 100%;
  margin-left: 0%;

  display: flex;
  align-items: center;
  transform: translate(0%, 0%);
}

.spaces-heading {
  color: darkorange;
  letter-spacing: -1px;
  @include xs {
    font-size: 2em;
    margin-bottom: var(-(--space-4));
  }
  @include lg {
    font-size: 4em;
    margin-bottom: 2%;
  }
}

.space-details {
  width: 100%;
  height: 100%;
  z-index: 4;
  //margin-left: -10%;

  background: rgb(18, 18, 18);
  @include xs {
    opacity: 0;
  }
  @include lg {
    opacity: 1;
  }
}

.space-details-wrapper {
  //border: medium solid blue;
  @include xs {
    width: 98.5%;
    height: 100%;
    overflow: scroll;
  }
  @include lg {
    width: 68.5%;
    height: 100%;
    overflow: hidden;
  }
}

.spaces-inner-content {
  overflow-y: scroll;
  @include xs {
  }
  @include lg {
    display: flex;
    width: 97.5%;
    height: 65%;
    padding-left: 2.5%;
  }
}
.space-left {
  @include xs {
  }
  @include lg {
    width: 50%;
    height: 100%;
    border-right: thin dotted rgba(255, 255, 255, 0.1);
  }
}

.space-right {
  @include xs {
  }
  @include lg {
    width: 50%;
    height: 100%;
  }
}

.space-detail-title {
  color: white;
  width: 100%;
  @include xs {
    font-size: 2rem;
  }
  @include lg {
    font-size: 3.5rem;
  }
}

.space-detail-image {
  @include xs {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: bottom;
  }
  @include lg {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
    margin-left: -2.5%;
  }
}

.space-detail-image-long {
  @include xs {
    width: 100%;
    height: 30vh;
    object-fit: contain;
    object-position: bottom;
  }
  @include lg {
    width: 100%;
    height: 90%;
    object-fit: contain;
    object-position: top;
    margin-left: -2.5%;
  }
}

.pricing {
  color: white;
  @include xs {
    font-size: 1.25rem;
    margin-bottom: 1.5%;
  }
  @include lg {
    font-size: 2.25rem;
    margin-bottom: -0.5%;
  }
}

.writeup-wrapper {
  @include xs {
  }
  @include lg {
    width: 100%;
    max-height: 30%;
  }
}

.space-writeup {
  color: rgb(201, 199, 199);
  padding-left: 2%;
  padding-right: 5%;

  @include xs {
    font-size: 1.125rem;
  }
  @include lg {
    margin-top: -2%;
    font-size: 1.5rem;
  }
}

.space-amenities {
  color: white;
  text-decoration: underline;
  margin-left: 5%;

  @include xs {
    font-size: 1.25rem;
    margin-top: 2.5%;
  }
  @include lg {
    font-size: 2.25rem;
    margin-top: 2.5%;
  }
}

.testt {
  width: 40%;
  height: 40%;
  background-color: blue;
}

.hidden-lg {
  @include xs {
    display: block;
  }
  @include lg {
    display: none;
  }
}

.utility {
  width: 0;
  margin: 0;
}

.card {
  @include xs {
    position: sticky;
    top: 9%;
  }
  @include lg {
    position: static;
    top: 0%;
  }
}

.about-card {
  @include xs {
    position: sticky;
    top: 40vh;
    height: 60%;
    margin-bottom: 20%;
  }
  @include lg {
    position: static;
    top: 0%;
    margin-bottom: 0%;
  }
}

.empty {
  position: static;
  top: 40%;
  background-color: pink;
  height: 3%;
}

.loc-scroll {
  height: 30vh;
  padding-bottom: 1%;
  margin-top: -15%;
  background-color: #000;
  //z-index: 1;
}

.section-rest {
  width: 100%;
  height: 200%;
}

.events-wrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  border-top: thin solid rgba(175, 175, 175, 1);
  @include lg {
    display: flex;
  }
}

.events-name {
  @include xs {
    color: darkorange;
    font-size: 2rem;
    padding: 1%;
    margin-bottom: var(-(--space-4));
  }
  @include lg {
    color: darkorange;
    font-size: 4rem;
    padding: 1%;
  }
}

.event-text {
  @include xs {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    padding-left: 3%;
    margin-bottom: var((--space-4));
  }
  @include lg {
    font-size: 1.25rem;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 0;
  }
}

.upcoming-title {
  @include xs {
    color: white;
    font-size: 1.25rem;
    padding-left: 3%;
    margin-bottom: var(-(--space-4));
    margin-top: -2%;
  }
  @include lg {
    color: white;
    font-size: 1.5rem;
    padding-left: 3%;
    margin-top: 0%;
  }
}

.upcoming-event {
  @include xs {
    color: white;
    font-size: 1.75rem;
    padding-left: 5%;
    font-weight: 600;
    margin-bottom: var(-(--space-4));
  }
  @include lg {
    font-size: 2.5rem;
    padding-left: 5%;
  }
}

.upcoming-date {
  @include xs {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1rem;
    padding-left: 5%;
    margin-bottom: var(-(--space-4));
  }
  @include lg {
    font-size: 1rem;
    padding-left: 5%;
  }
}

.calendar {
  padding: 2%;
  width: 100%;
  height: 52%;
  //border: thin solid orange;
  @include xs {
    display: none;
  }
  @include lg {
    display: block;
  }
}

.events-side {
  background-color: #323232;

  @include xs {
    width: 100%;
    height: 40%;
    //border: thick solid pink;
  }
  @include lg {
    overflow: hidden;
    min-width: 40%;
    height: 100%;
  }
}

.events-list {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  //overflow: hidden;
  @include xs {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    //border: thick solid pink;
  }
  @include lg {
    min-width: 60%;
    height: 100%;
    overflow-y: visible;
  }
}

.event-item {
  @include xs {
    width: 85%;
    min-height: 40%;
    margin-top: 2%;
    margin-bottom: 7.5%;
    border: thin solid rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }
  @include lg {
    width: 75%;
    min-height: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: thin solid rgba(255, 255, 255, 0.529);
    display: flex;
    flex-direction: row;
  }
}
.item-text {
  @include xs {
    width: 100%;
    height: 100%;
    margin-top: 2.5%;
  }
  @include lg {
    border-right: thin solid white;
    width: 40%;
    height: 100%;
    margin-top: 0;
  }
}

.item-image {
  //object-position: center;
  overflow: hidden;
  @include xs {
    width: 100%;
    min-height: 67.5%;
    //border: medium solid green;
  }
  @include lg {
    width: 60%;
    height: 100%;
  }
}

.item-image > img {
  object-fit: cover;
  width: max-content;
  height: max-content;
  @include xs {
    margin-top: -10%;
  }
  @include lg {
    margin-top: 0%;
  }
}

.item-name {
  border-bottom: thin solid #ffffff00;
  @include xs {
    width: 100%;
    height: 35%;
  }
  @include lg {
    width: 100%;
    height: 70%;
  }
}

.item-name > p {
  align-self: center;
  justify-self: center;
  @include xs {
    font-size: 1.5rem;
    color: white;
    padding-left: 7.5%;
  }
  @include lg {
    font-size: 1.75rem;
    color: white;
    padding: 7.5%;
  }
}
.item-button {
  background-color: orange;
  cursor: pointer;
  display: flex;

  @include xs {
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
    margin-top: -2.125%;
  }
  @include lg {
    width: 65%;
    margin-top: 10%;
    height: 20%;
    align-items: center;
    justify-content: center;
  }
}

.item-button > p {
  color: white;
  font-size: 1.25rem;
  padding-top: 10%;
  // @include xs{
  //   margin-left: 10%;
  // };
  // @include lg{
  //   margin-left: 0%;
  // };
}

.invisible-event {
  @include xs {
    width: 100%;
    min-height: 40vh;
  }
  @include lg {
    width: 0%;
    height: 0;
    min-height: 0vh;
  }
}

.event-details {
  @include xs {
    width: 100%;
    min-height: 120vh;
    background-color: rgb(23, 23, 23);
    color: white;
  }
  @include lg {
    min-width: 60%;
    height: 100%;
    background-color: rgb(23, 23, 23);
  }
}

.event-detail-wrapper {
  width: 100%;
  height: 90vh;
  //background-color: blue;
}

.event-detail-wrapper > img {
  @include xs {
    height: 40%;
    object-fit: cover;
    width: 100%;
  }
  @include lg {
    height: 50%;
    object-fit: contain;
    width: 100%;
  }
}

.event-detail-title {
  font-size: 1.75rem;
  padding-bottom: 0.5em;
}

.contact-page-wrapper {
  width: 100%;
  height: 100%;
  //background-color: #000;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include lg {
  }
}

.contact-heading {
  font-size: 3rem;
  font-weight: 600;
  text-decoration: underline;
}

.contact-inner {
  border: thin solid black;
  @include xs {
    width: 90%;
    height: 90%;
  }
  @include lg {
    width: 70%;
    height: 70%;
    display: flex;
  }
}

.map {
  @include xs {
    width: 100%;
    height: 50%;
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  @include lg {
    width: 50%;
    height: 100%;
  }
}

.contact-details {
  @include xs {
    width: 100%;
    height: 50%;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    flex-direction: column;
    padding: 1rem;
  }
  @include lg {
    width: 50%;
    height: 100%;
  }
}
.contact-label {
  font-weight: 400;
  color: darkorange;
  padding: 0;
  margin: 0;
  @include xs {
    font-size: 1.25rem;
  }
  @include lg {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
}
.contact-content {
  font-weight: 600;
  padding: 0;
  margin: 0;
  @include xs {
    font-size: 1.5rem;
  }
  @include lg {
    font-size: 2rem;
  }
}
.close-button {
  background-color: #303030;
  color: white;
  border: thin solid white;
  margin: 2%;
  padding: 1%;
}

.nav-logo {
  margin-top: 0.25%;
  height: 90%;
  @include xs {
    margin-left: 2.5%;
    width: 12.5%;
    object-fit: contain;
  }
  @include lg {
    width: 5%;
    margin-left: 5%;
  }
}

.about-page-wrapper {
  width: 100vw;
  //border: thin solid red;
  height: auto;
  padding-top: 10vh;
  background-color: #181818;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ab-header {
  font-size: 4rem;
  padding-top: 1rem;
}

.ab-segment {
  min-width: 90%;
  padding: 2.5%;
  //border: thin solid white;
  height: fit-content;
  display: flex;
}

.ab-segment-reverse {
  min-width: 90%;
  //border: thin solid white;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
}

.ab-segment-image {
  background: pink;
  @include xs {
    display: none;
  }
  @include lg {
    display: block;
    width: 40%;
    height: 40vh;
    margin-inline: 1.25%;
  }
}

.asi-1 {
  background: url(../images/reels/2.jpg);
  background-size: cover;
}

.asi-2 {
  background: url(../images/reels/3.jpg);
  background-size: cover;
}

.asi-3 {
  background: url(../images/reels/events/13.jpg);
  background-size: cover;
}

.asi-4 {
  background: url(../images/reels/events/12.jpg);
  background-size: cover;
}

.ab-segment-writing {
  text-wrap: balanced;
  @include xs {
    width: 100%;
    height: auto;
  }
  @include lg {
    width: 70%;
    font-size: 1.5vw;
  }
}

.contact-page-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  background-color: #181818;
  color: white;
}

.contact-social {
  display: flex;
  width: 50%;
  //border: thin solid red;
  justify-content: space-evenly;
}

.social-item {
  font-size: 1.5rem;
  color: white;
}

.ad-center {
  width: 100%;
  height: 70vh;
  display: flex;
}
.showcase-banner {
  @include xs {
    min-width: 100%;
  }
  @include lg {
    min-width: 50%;
  }
  height: 100%;
  background: url(../images/Showcases.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  //border: thin solid black;
}

.showcase-text {
  @include xs {
    display: none;
  }
  @include lg {
    min-width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.ad-close {
  @include xs {
    width: 10%;
    aspect-ratio: 1/1;
  }
  @include lg {
    width: 5%;
    height: 5%;
  }
  background-color: white;
  color: black;
  font-size: 1.5rem;
  margin: 1rem;
}
.ad-more {
  width: 20%;
  height: 7.5%;
  background-color: #000;
  color: white;
  font-size: 1.25rem;
  margin: 1rem;
}

.ad-dialog {
  background-color: #dddddd;
  border: thin solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  @include xs {
    width: 97.5vw;
    height: 65vh;
  }
  @include lg {
    width: 70vw;
    height: 90vh;
  }
}

dialog::backdrop {
  background-color: #00000099;
}

.project-page-wrapper {
  width: 100vw;
  //border: thin solid red;
  height: auto;
  padding-top: 10vh;
  background-color: #181818;
  color: white;
  display: flex;
  align-items: center;
  @include xs {
    flex-direction: column;
  }
  @include lg {
    //flex-direction: row;
  }
}

.project-side {
  @include xs {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #232321;
  }
  @include lg {
    width: 100%;
    height: 35vh;
  }
}

.project-page-title {
  font-size: 4rem;
  text-decoration: underline;
}

.project-page-intro {
  font-size: 1.35rem;
}

.project-item {
  display: flex;
  @include xs {
    width: 100%;
    height: 80vh;
    border: 1px solid #eee;
    flex-direction: column;
  }
  @include lg {
    width: 70%;
    height: 40vh;
    border: 1px solid #eee;
    margin: 1rem;
    flex-direction: row;
  }
}

.project-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-image {
  @include xs {
    width: 100%;
    min-height: 50%;
    //background-color: pink;
  }
  @include lg {
    height: 100%;
    width: 45%;
  }
}

.afp-img {
  background: url(../images/afp/afp1.jpg);
  background-size: cover;
  background-position: center;
}

.wbc-img {
  background: url(../images/mb/mb1.jpg);
  background-size: cover;
  background-position: center;
}

.project-title {
  @include xs {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem;
  }
  @include lg {
    font-size: 3rem;
    padding: 1rem;
  }
}

.project-brief {
  @include xs {
    font-size: 0.75rem;
  }
  @include lg {
    font-size: 1.25vw;
    padding: 0.5rem;
  }
}
.project-info {
  @include xs {
    width: 100%;
    min-height: 50%;
  }
  @include lg {
    width: 55%;
    height: 100%;
  }
}

.project-dialog {
  background-color: #333;
  color: white;
  @include xs {
    width: 95%;
    height: 95%;
  }
  @include lg {
    width: 90%;
    height: 80%;
  }
  //display: flex;
}

.project-dialog-wrapper {
  width: 100%;
  height: 100%;
  border-top: 3px solid black;
  @include xs {
  }
  @include lg {
    display: flex;
  }
}

.pd-name-img {
  //background-color: red;
  @include xs {
    width: 100%;
    height: 50%;
    margin-bottom: 3rem;
  }
  @include lg {
    width: 40%;
    height: 95%;
  }
}

.pd-name {
  width: 100%;
  @include xs {
    height: 15%;
    font-size: 2rem;
    font-weight: 600;
    //border-top: 3px solid black;
    border-bottom: 3px solid black;
  }
  @include lg {
    font-size: 3rem;
  }
}

.pd-img {
  //background: url(../images/reels/2.jpg);
  background-color: #303030;
  width: 100%;
  height: 85%;
  background-size: cover;
  background-position: center;
  //overflow: scroll;
}

.project-slider-wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  overflow-x: hidden;
}

.slide-button {
  //padding: 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.project-slider-item {
  min-width: 100%;
  height: 100%;
}

.aat1 {
  background: url(../images/aat/aat1.jpg);
  background-size: cover;
  background-position: center;
}

.aat2 {
  background: url(../images/aat/aat2.jpg);
  background-size: cover;
  background-position: center;
}

.aat3 {
  background: url(../images/aat/aat3.jpg);
  background-size: cover;
  background-position: center;
}

.aat4 {
  background: url(../images/aat/aat4.jpg);
  background-size: cover;
  background-position: center;
}

.aat5 {
  background: url(../images/aat/aat5.jpg);
  background-size: cover;
  background-position: center;
}

.afp1 {
  background: url(../images/afp/afp1.jpg);
  background-size: cover;
  background-position: center;
}

.afp2 {
  background: url(../images/afp/afp2.jpg);
  background-size: cover;
  background-position: center;
}

.afp3 {
  background: url(../images/afp/afp3.jpg);
  background-size: cover;
  background-position: center;
}

.afp4 {
  background: url(../images/afp/afp4.jpg);
  background-size: cover;
  background-position: center;
}

.afp5 {
  background: url(../images/afp/afp5.jpg);
  background-size: cover;
  background-position: center;
}

.mb1 {
  background: url(../images/mb/mb1.jpg);
  background-size: cover;
  background-position: center;
}

.mb2 {
  background: url(../images/mb/mb2.jpg);
  background-size: cover;
  background-position: center;
}

.mb3 {
  background: url(../images/mb/mb3.jpg);
  background-size: cover;
  background-position: center;
}

.mb4 {
  background: url(../images/mb/mb4.jpg);
  background-size: cover;
  background-position: center;
}

.mb5 {
  background: url(../images/mb/mb5.jpg);
  background-size: cover;
  background-position: center;
}

.ac1 {
  background: url(../images/ac/ac1.jpg);
  background-size: cover;
  background-position: center;
}

.ac2 {
  background: url(../images/ac/ac2.jpg);
  background-size: cover;
  background-position: center;
}

.ac3 {
  background: url(../images/ac/ac3.jpg);
  background-size: cover;
  background-position: center;
}

.ac4 {
  background: url(../images/ac/ac4.jpg);
  background-size: cover;
  background-position: center;
}

.ac5 {
  background: url(../images/ac/ac5.jpg);
  background-size: cover;
  background-position: center;
}

.pd-text {
  @include xs {
  }
  @include lg {
    width: 60%;
    height: 100%;
    border-left: 3px solid black;
    // border-right: 3px solid black;
    font-size: 1.5rem;
    text-align: start;
    padding: 1rem;
  }
}

.card3 {
  background-color: red;
  @include xs {
    height: 87.4vh;
  }
  @include lg {
    height: 90vh;
  }
}

.blocked {
  cursor: not-allowed;
  color: #2d2d2d;
}

.blocked:hover {
  color: #2d2d2d !important;
}

.enquiry-space {
  font-size: 1.5rem;
  padding: 0;
  color: white;
}

.enquiry-button {
  background-color: darkorange;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 1.25rem;
}

.aat-img {
  background: url(../images/aat/aat1.jpg);
  background-size: cover;
  background-position: center;
}

.ac-img {
  background: url(../images/ac/ac1.jpg);
  background-size: cover;
  background-position: center;
}

.pd-aat {
  background: url(../images/aat/aat1.jpg);
  background-size: cover;
  background-position: center;
}

.pd-afp {
  background: url(../images/afp/afp2.jpg);
  background-size: cover;
  background-position: center;
}

.pd-mb {
  background: url(../images/mb/mb3.jpg);
  background-size: cover;
  background-position: center;
}

.pd-ac {
  background: url(../images/ac/ac1.jpg);
  background-size: cover;
  background-position: center;
}
