@import "breakpoints";

:root {
    --border-radius: 4px;
    --color-text: #333;
    --color-primary: #7026b9;
    --color-code-bg: #fff4db;
    --color-code: #8a6534;
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --font-lg: 18px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-sx: 12px;
    --line-height-loose: 1.75;
    --line-height-normal: 1.5;
    --line-height-dense: 1.1;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 64px;
    --size-content: 54rem;
    --size-gutter: var(--space-5);
    --size-gap: var(--space-6);
  }
  html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font: sans-serif;
    font-size: var(--font-md);
    line-height: var(--line-height-normal);
    //overflow-y: scroll;
    overflow-x: hidden;
  }
  body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--color-text);
    font-family: sans-serif;
    font-family: var(--font-sans);
    font-weight: normal;
    margin: 0;
    word-wrap: break-word;
  }
  a {
    background-color: transparent;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }
  a:active,
  a:hover {
    outline-width: 0;
    text-decoration: none;
  }
  abbr[title] {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
    text-decoration: none;
  }
  b,
  strong {
    font-weight: inherit;
    font-weight: bolder;
  }
  dfn {
    font-style: italic;
  }
  h1 {
    margin: 0;
    margin-bottom: 3rem;
    padding: 0;
    line-height: var(--line-height-dense);
    letter-spacing: -0.01em;
  }
  h1 > b {
    color: var(--color-primary);
  }
  img {
    border-style: none;
    max-width: 100%;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-mono);
    font-size: 1em;
    line-height: inherit;
  }
  hr {
    box-sizing: content-box;
    overflow: visible;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: calc(var(--space-4) - 1px);
    background: hsla(0, 0%, 0%, 0.2);
    border: none;
    height: 1px;
  }
  * {
    box-sizing: inherit;
  }
  *:before {
    box-sizing: inherit;
  }
  *:after {
    box-sizing: inherit;
  }
  hgroup,
  img,
  figure,
  fieldset,
  ul,
  ol,
  dl,
  dd,
  p {
    margin: 0;
    padding: 0;
    margin-bottom: var(--space-4);
  }
  ul,
  ol {
    margin-left: var(--space-4);
    list-style-position: outside;
    list-style-image: none;
  }
  pre {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: var(--space-4);
    font-size: 0.875rem;
    line-height: var(--line-height-normal);
    background: hsla(0, 0%, 0%, 0.04);
    border-radius: var(--border-radius);
    overflow: auto;
    word-wrap: normal;
    padding: var(--space-4);
  }
  b,
  strong,
  dt,
  th {
    font-weight: bold;
  }
  li {
    margin-bottom: calc(var(--space-4) / 2);
  }
  ol li,
  ul li {
    padding-left: 0;
  }
  li > ol,
  li > ul {
    margin-bottom: calc(var(--space-4) / 2);
    margin-left: var(--space-4);
    margin-top: calc(var(--space-4) / 2);
  }
  blockquote *:last-child {
    margin-bottom: 0;
  }
  li *:last-child {
    margin-bottom: 0;
  }
  p *:last-child {
    margin-bottom: 0;
  }
  li > p {
    margin-bottom: calc(var(--space-4) / 2);
  }
  p {
    max-width: 680px;
  }
  code {
    font-size: 0.875rem;
  }
  kbd {
    font-size: 0.875rem;
  }
  samp {
    font-size: 0.875rem;
  }
  abbr {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
  }
  acronym {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
  }
  tt,
  code {
    background-color: var(--color-code-bg);
    border-radius: var(--border-radius);
    color: var(--color-code);
    font-family: var(--font-mono);
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    word-break: normal;
  }
  pre code {
    background: none;
  }
  code:before,
  code:after,
  tt:before,
  tt:after {
    content: "\00a0";
    letter-spacing: -0.2em;
  }
  pre code:before,
  pre code:after,
  pre tt:before,
  pre tt:after {
    content: none;
  }

  .main-wrapper{
    //position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    @include xs{
        
    };
    @include lg{
       
    };
  }
  
  .nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 10%;
    background-color: black;
    z-index: 20;
  }

  .main-container{
    z-index: 1;
    width: 100%;
    height: 100%;
    //margin-top: -10vh;
    background-color: orange;
    @include xs{
        overflow-x: hidden;
    };
    @include lg{
        overflow: hidden;
    };
  }

  .section-double{
    @include xs{
        height: 200%;
        width: 100%;
        margin-bottom: 300%;
    };
    @include lg{
        height: 100%;
        width: 200%;
        margin-bottom: 0%;
        display: flex;
    };
    
  }

  .inner-section{
    @include xs{
        width: 100%;
        height: 50%;
    };
    @include lg{
        width: 100%;
        height: 100%;
    };
    
  }

  .section{
    height: 90vh;
  }

  .hero-wrapper{
    background-color: #7026b9;
    display: flex;
    height: 100%;
    width: 100%;
    @include xs{
        flex-direction: column;
    }
    @include lg{
        flex-direction: row;
    }
  }

  .hero-content{
    border: thin solid green;
    @include xs{
        width: 100%;
        height: 67.5%;
    }
    @include lg{
        width: 60%;
        height: 100%;
    }
  }

  .hero-scrollers{
    border: thick solid pink;
    @include xs{
        width: 100%;
        height: 25%;
    };
    @include lg{
        display: flex;
        width: 40%;
        height: 100%;
    };
  }

  .scroller-container{
    @include xs{
        width: 1200%;
        height: 100%;
    };
    @include lg{
        width: 50%;
        height: 600%;
    };
  }

  .scroller-inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    @include xs{
        flex-direction: row;
    };
    @include lg{
        flex-direction: column;
    };
    //outline: thick solid blue;
  }

  .scroller-reel{
    outline: medium dotted red;
    display: flex;
    @include xs{
        flex-direction: row;
        width: 33%;
        height: 100%;
        background: linear-gradient(to left, green, blue, green)
    };
    @include lg{
        flex-direction: column;
        width: 100%;
        height: 33%;
        background: linear-gradient(to bottom, green, blue, green)
    };
  }

  .reel0{
    @include xs{
        transform: translateX(-300%)
    };
    @include lg{
        transform: translateY(-300%)
    };
  }

  .reel-node{
    border: thin solid yellow;
    @include xs{
        width: 20%;
        height: 100%;
    };
    @include lg{
        width: 100%;
        height: 100%;
    };
  }

  .node-image-container{
    width: 95%;
    height: 95%;
    //margin: 2.5%;
    border: thin solid red;
    @include xs{
        margin: 2.5%;
    };
    @include lg{
        margin: 2.5%;
    };
  }

  .about-section{
    @include xs{
        width: 100%;
        height: 200%;
    };
    @include lg{
        width: 100%;
        height: 100%;
    };
}

  .about-wrapper{
    background-color: red;
    @include xs{
        width: 100%;
        height: 100%;
    };
    @include lg{
        width: 100%;
        height: 100%;
    };
  }

  .about-content{
    width: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, aqua, transparent);
  }

  .spaces-wrapper{
    width: 100%;
    height: 100%;
    background-color: blue;
    border: thin solid green;
  }

  .hidden-xs{
    @include xs{
        display: none;
    };
    @include lg{
        display: flex;
        width: 20vw;
        height: 100%;
    };
  }

  .hidden-xs > .scroller-container{
    width: 100%;
    height: 600%;
  }

  .hidden-lg{
    @include xs{
        display: block;
    };
    @include lg{
        display: none;
    };
  }

  .utility{
    width: 0;
    margin: 0;
  }

  .card{
    @include xs{
        position: sticky;
        top: 10%;
    };
    @include lg{
        position: static;
        top: 0%;
    };
  }

  .loc-scroll{
    height: 25vh;
  }

  .section-rest{
    width: 100%;
    height: auto;
  }